__pycache__/
*.py[cod]
venv/
.env
dist/
*.egg-info/
.coverage
*.py,cover
.cache/
*.py,cover
.ipynb_checkpoints
.vscode/
.venv/
side_data/
example_calendar.json
main.spec
build/
test_data/
database.json
calendar_app/days_off.json
calendar_app/study_periods.json
